# STM32L432KC Seraph board configuration

# Copyright (c) 2021 MATERIAM SAPI de CV
# SPDX-License-Identifier: Apache-2.0

config BOARD_SERAPH
	bool "SERAPH L432KC Development Board"
	depends on SOC_STM32L432XX
