/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l432Xc.dtsi>
#include <st/l4/stm32l432k(b-c)ux-pinctrl.dtsi>

/ {
	model = "Seraph board";
	compatible = "st,stm32l432kc-seraph";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,can-primary = &can1;
    //zephyr,code-partition = &slot0_partition;
	};

  leds {
		compatible = "gpio-leds";

		red_led: led_0 {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};

		green_led: led_1 {
			gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		blue_led: led_2 {
			gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};



	aliases {
    led0 = &red_led;
    led1 = &green_led;
    led2 = &blue_led;
	};
};



&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pb0 &spi1_sck_pa1
		     &spi1_miso_pa6 &spi1_mosi_pa7>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pa9 &i2c1_sda_pa10>;
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};



&timers2 {
	status = "okay";

	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch1_pa0>;
	};
};

&timers15 {
	status = "okay";

	pwm0: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch2_pa1>;

	};

  pwm1: pwm {
    status = "okay";
    pinctrl-0 = <&tim15_ch1_pa2>;
  };

  pwm2: pwm {
    status = "okay";
    pinctrl-0 = <&tim2_ch2_pa1>;
  };

};




&rtc {
	status = "okay";
};

&lptim1 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;
		/*
		 * Reserve the final 16 KiB for file system partition
		 */
    /*
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
    */
	};
};
