/*
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/l4/stm32l432Xc.dtsi>
#include <st/l4/stm32l432k(b-c)ux-pinctrl.dtsi>

/ {
	model = "Seraph board";
	compatible = "st,stm32l432kc-seraph";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,can-primary = &can1;
    //zephyr,code-partition = &slot0_partition;
	};



  leds {
		compatible = "gpio-leds";

		red_led: led_0 {
			gpios = <&gpioa 1 GPIO_ACTIVE_LOW>;
			label = "Red LED";
		};

		green_led: led_1 {
			gpios = <&gpioa 2 GPIO_ACTIVE_LOW>;
			label = "Green LED";
		};

		blue_led: led_2 {
			gpios = <&gpioa 3 GPIO_ACTIVE_LOW>;
			label = "Blue LED";
		};
	};

  pwmleds {
		compatible = "pwm-leds";

		red_pwm_led: led_pwm_0 {
			pwms = <&pwms 2 4 PWM_POLARITY_NORMAL>;
		};

		green_pwm_led: led_pwm_1 {
			pwms = <&pwms 3 4 PWM_POLARITY_NORMAL>;
		};

		blue_pwm_led: led_pwm_2 {
			pwms = <&pwms 4 4 PWM_POLARITY_NORMAL>;
		};
	};

  buttons {
		compatible = "gpio-keys";

		button0: button_0 {
			gpios = <&gpioh 3 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "Push Button 1";
		};
	};


	aliases {
    led0 = &red_led;
    led1 = &green_led;
    led2 = &blue_led;
    pwm-led0 = &red_pwm_led;
		pwm-led1 = &green_pwm_led;
		pwm-led2 = &blue_pwm_led;
		red-pwm-led = &red_pwm_led;
		green-pwm-led = &green_pwm_led;
		blue-pwm-led = &blue_pwm_led;
    sw0 = &button0;
	};
};



&usart1 {
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	current-speed = <115200>;
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_nss_pb0 &spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pa9 &i2c1_sda_pa10>;
	clock-frequency = <I2C_BITRATE_FAST>;
	status = "okay";
};



&timers2 {
	status = "okay";
	pwms: pwm {
		status = "okay";
		pinctrl-0 = <&tim2_ch2_pa1 &tim2_ch3_pa2 &tim2_ch4_pa3>;
	};


};


/*
&timers16 {
	status = "okay";
	pwm2: pwm {
		status = "okay";
		pinctrl-0 = <&tim16_ch1_pa6>;
	};
};
*/



&usb {
	pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
	status = "okay";
};


&rtc {
	status = "okay";
};

&lptim1 {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/*
		 * Reserve the final 16 KiB for file system partition
		 */
		storage_partition: partition@3c000 {
			label = "storage";
			reg = <0x0003c000 0x00004000>;
		};
	};
};
